*~
*.beam
.sw?
.*.sw?
/coverage/build/
/coverage/dist/
/coverage/ebin/

# Sub-repositories.
/cowboy-wrapper/
/cowlib-wrapper/
/mochiweb-wrapper/
/rabbitmq-amqp1.0/
/rabbitmq-auth-backend-ldap/
/rabbitmq-auth-mechanism-ssl/
/rabbitmq-codegen/
/rabbitmq-consistent-hash-exchange/
/rabbitmq-clusterer/
/rabbitmq-dotnet-client/
/rabbitmq-erlang-client/
/rabbitmq-event-exchange/
/rabbitmq-federation-management/
/rabbitmq-federation/
/rabbitmq-java-client/
/rabbitmq-management-agent/
/rabbitmq-management-visualiser/
/rabbitmq-management/
/rabbitmq-metronome/
/rabbitmq-mqtt/
/rabbitmq-server/
/rabbitmq-shovel-management/
/rabbitmq-shovel/
/rabbitmq-stomp/
/rabbitmq-test/
/rabbitmq-toke/
/rabbitmq-tracing/
/rabbitmq-web-dispatch/
/rabbitmq-web-stomp-examples/
/rabbitmq-web-stomp/
/ranch-wrapper/
/sockjs-erlang-wrapper/
/toke/
/webmachine-wrapper/
eleveldb*
msg_store*
tmp/*
*.hg
packages/*
